1. List one
   
### **Naivas Grocery Data Scraping services

View/Open
 Full-text (820.4Kb)
Date
2022
Author
Ngana, Dennis, K
Type
Thesis
Language
en
Metadata
Show full item record

View/Open
 Full-text (820.4Kb)
Date
2022
Author
Ngana, Dennis, K
Type
Thesis
Language
en
Metadata
Show full item record

 - Competitive advantage is the essential in any business that thrives to excel in the constant turbulent business environment. With post Covid â€“ 19 effects, only the businesses that have applied different competitive strategies have been able to survive. Application of the different strategies both internally and externally influences the degree of gaining the competitive edge. The retail industry in Kenya has experienced massive growth and further has experienced cut throat competition with renowned giants including Nakumatt unable to maintain its market share and collapsed. Significantly, other champions including Tuskys,
 
  -  have closed most of their retail outlets due to the competition. The research project is a case study which seeks to establish the strategies that Naivas supermarket has adopted to gain competitive advantage in Kenya even after the Covid-19 pandemic. Data was collected through primary data by using interview schedules or guides written in open ended questions that allowed the respondents exhibit their opinions and views without limitations. Five senior managers who are the core decision makes in application of strategy for the firm were interviewed. Secondary data 
  -

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Basic HTML Page</title>
<body>
    <h1>Welcome to My Website</h1>
    <p>This is a simple paragraph on my basic HTML page.</p>
</body>
<style>
body{
    background-colour:blue;
}
</style>
</html>

In [2]:
import pandas as pd


ice_cream = {
    'flavour' : ['chocolate', 'vanilla', 'strawberry'],
    'price' : [2.5, 1.0, 1.5],
    'colour':['brown', 'white', 'pink'], 
    'stock' :[10, 20, 30]
}
df_icecream = pd.DataFrame(ice_cream)
df_icecream

      flavour  price colour  stock
0   chocolate    2.5  brown     10
1     vanilla    1.0  white     20
2  strawberry    1.5   pink     30

In [3]:
print("\n BASIC DATASET INFO.")
print(f"number of flavours : {len}(df_icecream)")

 BASIC DATASET INFO.
number of flavours : <built-in function len>(df_icecream)

In [4]:
df_icecream.columns
len(df_icecream.columns)

4

In [5]:
total_price= df_icecream['price'].sum()
print(f"\n Total PRICE OF ALL FLAVOURS: ${total_price}")

 Total PRICE OF ALL FLAVOURS: $5.0

In [ ]:
avarage_price = df_icecream['price'].mean()
print(f"\n AVARAGE PRICE OF ALL FLAVOURS: ${avarage_price}")

In [ ]:
median_price = df_icecream['price'].median()
print(f"\ MEDIAN PRICE OF ALL FLAVOURS: ${median_price}")

In [ ]:
min_price = df_icecream['price'].min()
print(f"\n MINIMUN PRICE OF ALL FLAVOURS: ${min_price}")

In [ ]:
max_price = df_icecream['price'].max()
print(f"\n MAXIMUN PRICE OF OF ALL FLAVOURS: ${max_price}")

In [ ]:
df_icecream.shape

In [ ]:
import matplotlib_inline

In [ ]:
df_icecream.uptade({'stock':[30, 35, 15]})

In [ ]:
import matplotlib.pyplot as plt